*{
	padding 0;
	margin 0;
}

body{
	background-image: url("de.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
}

td{
	width: 20px;
	height: 20px;
}

.blank{
	background-color: blank;
}

.snake{
	background-size: 100%;
        background-image: url("marcus.jpg");
        background-repeat: no-repeat;
        background-position: center;
}

.wall{
	background-image: url("sv.png");
        background-size: 100%
}	

.fruit{
	background-image: url("sv.png");
        background-size: 100%
}